@model EntityLayer.Concrete.Announcement

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Duyurular</h3>
</div>
<!-- Light table -->
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="sort" data-sort="name"></th>
            </tr>
        </thead>
        <tbody class="list">
            <tr>
                <td scope="row">
                    <form class="form-group">
                        @Html.Label("Duyuru No")
                        <br />

                        @Html.TextBoxFor(x => x.AnnouncementId, new { @class = "form-control" })
                        <br />
                        @Html.Label("Başlık   ")
                        <br />
                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                        <br />
                        @Html.Label("İçerik")
                        @Html.TextAreaFor(x => x.Content, 10, 5, new { @class = "form-control" })
                        <br />
                    </form>
                </td>
            </tr>

        </tbody>
    </table>

</div>

