@using EntityLayer.Concrete
@model List<Experience>

<div class="card">
    <div class="card-header border-0">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="mb-0">Deneyimlerim <small>(@ViewBag.exp)</small></h3>
            </div>
            <div class="col text-right">
                <a asp-controller="Experience" asp-action="Index" class="btn btn-sm btn-primary">Görüntüle</a>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-flush">
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="sort" data-sort="name">#</th>
                    <th scope="col" class="sort" data-sort="budget">Başlık</th>
                    <th scope="col" class="sort" data-sort="status">Tarih</th>
                    <th scope="col" class="sort" data-sort="name">Açıklama</th>
                </tr>
            </thead>
            <tbody class="list">
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">
                            @item.ExperienceId
                        </th>
                        <td class="budget">
                            @item.Name
                        </td>
                        <td>
                            @item.Date
                        </td>
                        <td>
                            @item.Description
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
