@model EntityLayer.Concrete.Experience

@{
    ViewData["Title"] = "EditExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Deneyim Güncelle</h3>
    <br />
    @using (Html.BeginForm("EditExperience", "Experience", FormMethod.Post))
    {
        @Html.HiddenFor(s => s.ExperienceId)

        @Html.Label("Deneyim")
        @Html.TextBoxFor(e => e.Name, new { @class = "form-control" })
        <br />
        <label>Değer</label>
        @Html.TextBoxFor(e => e.Date, new { @class = "form-control" })
        <label>Resim</label>
        @Html.TextBoxFor(e => e.ImageUrl, new { @class = "form-control" })
        <br />
        @Html.TextAreaFor(e => e.Description, 10, 3, new { @class = "form-control" })
        <br />
        <a asp-controller="Experience" asp-action="Index" class="btn btn-primary">Liste</a>
        <button class="btn btn-success">Güncelle</button>
    }
</div>

