@model EntityLayer.Concrete.Contact

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">İletişim Bilgileri Düzenle</h3>
    <br />
    @using (Html.BeginForm("Index", "ContactSub", FormMethod.Post))
    {
        @Html.HiddenFor(a => a.ContactId)

        @Html.Label("Başlık")
        @Html.TextBoxFor(a => a.Title, new { @class = "form-control" })
        <br />
        <label>Açıklama</label>
        @Html.TextAreaFor(a => a.Description, 5, 3, new { @class = "form-control" })
        <br />
        <label>Web Site</label>
        @Html.TextBoxFor(a => a.WebSite, new { @class = "form-control" })
        <br />
        <label>Mail</label>
        @Html.TextBoxFor(a => a.Mail, new { @class = "form-control" })
        <br />
        <label>Telefon</label>
        @Html.TextBoxFor(a => a.Phone, new { @class = "form-control" })
        <br />
        <a target="_blank" asp-controller="Default" asp-action="Index" class="btn btn-primary">Ana Sayfa</a>
        <button class="btn btn-success">Güncelle</button>
    }
</div>

